body {
    font-family: 'Roboto', sans-serif;
    background-color: #eaeaea;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

h1, h2 {
    color: #333;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

p {
    font-size: 1.2em;
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #ED2553;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #ED2553;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d0224b;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f8f8f8;
}

.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profile, .team-profile {
    text-align: center;
    margin-bottom: 40px;
}

.tournament-table table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.tournament-table th, .tournament-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.tournament-table th {
    background-color: #f2f2f2;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ED2553;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #d0224b;
}

.container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.container h2 {
    font-size: 2em;
    margin-bottom: 10px;
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 250px;
    margin-right: 10px;
}

.search-container button {
    padding: 10px 15px;
    background-color: #ED2553;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px; /* Отступы между кнопками */
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: #d0224b;
}
#chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#chat-box {
    height: 400px;
    overflow-y: auto;
    padding: 10px;
}

#messages {
    margin-bottom: 10px;
}

.user-message {
    text-align: right;
    margin: 5px;
    color: blue;
}

.bot-message {
    text-align: left;
    margin: 5px;
    color: green;
}

#user-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#send-button {
    padding: 10px;
    background: #ED2553;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#send-button:hover {
    background: #d0224b;
}
#uploadButton {
    margin-top: 10px;
    padding: 10px;
    background-color: #ED2553;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#uploadButton:hover {
    background-color: #d0224b;
}

